@charset "UTF-8";


/* 노멀라이징 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    text-decoration: none;
    color: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

img,
video {
    max-width: 100%;
    display: block;
}

/* 커스터마이징 */


html>body {
    font-family: 'Garamond', serif;
    color: #000;
    text-underline-position: under;

}

.con {
    max-width: 1920px;
    margin: 0 auto;
}

/* 풀페이지 툴팁 */

/* 동그라미 애니메이션 */

#fp-nav ul li a {
    width: 2px;
    height: 2px;
    margin: 8px 0 0 9px;

}


#fp-nav ul li a span {
    background-color: #6FCCCC;
    margin: -2px 0 0 -2px;

}



/* 글자  */
#fp-nav ul li .fp-tooltip {
    color: #6FCCCC;
    font-family: 'Goudy Old Style';
    font-size: 15px;
    margin-top: -8px;

}

/* top-bar-wrap */

.top-bar-wrap {
    width: 1920px;
    height: 85px;

}

.top-bar__logo{
    margin-left: 10%;
}

.icon-box{
    margin-right: 12%;
}

.icon-box>a,
.icon-box>.cart-icon-box {
    font-size: 20px;
    color: rgb(9, 9, 9);
}

.icon-box > a:hover {
    color: #6FCCCC;

}

.cart-icon-box {
    position: relative;
    margin-top: -27px;
}

.cart-icon-box>a {
    position: absolute;
}

.cart-icon {
    display: block;
}

.cart-icon-box:hover>.cart-icon {
    display: none;

}

.hover-cart-icon {
    display: none;
}

.cart-icon-box:hover>.hover-cart-icon {
    display: block;
    color: #6FCCCC;
}


/* top-bar-menu-wrap */
.top-bar-menu {
    width: 100%;
    height: 60px;
    background-color: #6fcccc;
}

.top-bar-menu > ul {
    border: 1px solid black;
    background-color: rgb(137, 203, 247);  
    border-radius: 10px;
    transition: border-radius 0s 0.3s;
}

.top-bar-menu ul > li {
   position: relative;
}

.top-bar-menu > ul ul{
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}